.modal {
  height: 100vh;
  position: absolute;
  left: 50%;
  z-index: -1;
  // opacity: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transform: translate(-50%, 0);
  transition: background-color 0.5s linear, opacity 0.3s ease;

  &.is-overlay {
    z-index: 999;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.modal-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  // position: absolute;
  // left: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // transform: translate(-50%, calc(-100% - 44px));
  transition: transform 0.3s linear;

  &.is-open {
    transform: translate(-50%, 0);
  }
}

.modal-holder {
  width: 100%;
  margin-bottom: 10px;
  transition: transform 0.2s linear;
}

.modal-btn-close {
  cursor: pointer;
  padding: 0;
  width: 64px;
  height: 64px;
  background-color: transparent;
  border: none;

  img {
    width: 100%;
    height: auto;
    transform: scale(1) rotate(0);
    transform-origin: center;
    transition: transform 0.2s linear;
  }

  &:active,
  &:hover {
    img {
      transform: scale(0.9);
    }
  }

  &.is-rotate {
    img {
      transition-delay: 0.1s;
      transition-duration: 1s;
      transition-property: transform;
      transition-timing-function: linear;
      transform: scale(1) rotate(720deg);
    }
  }
}

.modal-form {
  width: 100%;
  padding: 26px 16px;
  border: 2px solid yellowgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__label-group {}

  &__label {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    p {
      margin: 0 0 6px 0;
    }
  }

  &__control {
    height: 30px;
    border-radius: 4px;
    padding: 2px 10px;
  }

  &__set-img {
    border: 1px solid rebeccapurple;
    height: 300px;
    width: 240px;
  }

  &__pic {}
}
