<input type="text" placeholder="Name" [(ngModel)]="pokemonName"> <br>
<input type="text" placeholder="Fire" [(ngModel)]="pokemonElement"> <br>
<input type="text" placeholder="Power" [(ngModel)]="power"> <br>
<input type="text" placeholder="Health" [(ngModel)]="health"> <br>
<input type="text" placeholder="Def" [(ngModel)]="def"> <br>
<button (click)="setProfile()">Set profile</button>
<button (click)="addPokemon()" [disabled]="addPokemonStatus">Add new Pokemon!</button>

<div class="profile" *ngFor="let pokemon of profile">
  <i>Element</i>
  <app-elem-energy></app-elem-energy>
  <app-elem-power></app-elem-power>
  <app-elem-health></app-elem-health>
  <app-elem-defense></app-elem-defense>
  <app-profile-holder></app-profile-holder>
  <br>
</div>

<ul>
  <li *ngFor="let pokemon of profile; let idx = index">
    <p>{{pokemon.name}} ----- {{idx}}</p>
    <p>{{pokemon.element}}</p>
    <p>{{pokemon.skills.power}}</p>
    <p>{{pokemon.skills.health}}</p>
    <p>{{pokemon.skills.def}}</p>
  </li>
</ul>
