<!-- <div class="modal">
  <img src="../../../assets/img/pokeball.png" alt="pokeball" width="64" height="64">
  <form action="" class="modal-form">
    <label class="modal-label">
      <p>Name:</p>
      <input type="text" placeholder="Name" [(ngModel)]="pokemonName"> <br>
    </label>
    <label class="modal-label">
      <p>Element:</p>
      <input type="text" placeholder="Element" [(ngModel)]="pokemonElement"> <br>
    </label>
    <label class="modal-label">
      <p>Leben:</p>
      <input type="number" placeholder="Leben" [(ngModel)]="health"> <br>
    </label>
    <label class="modal-label">
      <p>Kraft:</p>
      <input type="number" placeholder="Kraft" [(ngModel)]="power"> <br>
    </label>
    <label class="modal-label">
      <p>Shild:</p>
      <input type="number" placeholder="Schild" [(ngModel)]="def"> <br>
    </label>

    <button (click)="setProfile()">Set profile</button>
    <button (click)="addPokemon()" [disabled]="addPokemonStatus">Add new Pokemon!</button>
  </form>
</div> -->
<add-new-pokemon></add-new-pokemon>


<div class="profile" *ngFor="let pokemon of profile">
  <i>Element</i>
  <app-elem-energy></app-elem-energy>
  <app-elem-power [powerComp]="power"></app-elem-power>
  <app-elem-health></app-elem-health>
  <app-elem-defense></app-elem-defense>
  <app-profile-holder></app-profile-holder>
  <br>
</div>

<ul>
  <li *ngFor="let pokemon of profile; let idx = index">
    <p>{{pokemon.name}} ----- {{idx}}</p>
    <p>{{pokemon.element}}</p>
    <p>{{pokemon.skills.power}}</p>
    <p>{{pokemon.skills.health}}</p>
    <p>{{pokemon.skills.def}}</p>
  </li>
</ul>
