@import './assets/helpers/_variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $main-fonts;
  color: $txt-color;

}

.container {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
